package ${package}.${moduleName}.controller;

import com.demo.entity.Result;
import com.demo.entity.${pathName}.${className};
import com.demo.service.${pathName}.${className}Service;
import com.baomidou.mybatisplus.core.metadata.IPage;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

/**
 * @author LC
 * @email dcam00r0@qq.com
 * @date ${datetime}
 */
@CrossOrigin
@RestController
@RequestMapping("/${pathName}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    /**
     * 查询
     */
    @GetMapping("/")
    public Result find(@RequestParam("id") String id){
        ${classname} = ${classname}Service.getById(id);
        return Result.success(${classname});
    }

    /**
     * 分页查询
     */
    @GetMapping("/queryPage")
    public Result queryPage(@RequestParam Map<String, Object> param){
        return IPage<${className}> iPage = ${classname}Service.queryPage(param);
    }


    /**
     * 插入
     */
    @PostMapping("/")
    public Result insert(${className} ${classname}){
        ${classname}Service.save(${classname});
        return Result.success(${classname}.getId());
    }

    /**
     * 修改
     */
    @PutMapping("/")
    public Result update(${className} ${classname}){
        ${classname}Service.updateById(${classname});
        return Result.success(null);
    }

    /**
     * 删除
     */
    @DeleteMapping("/")
    public Result delete(@RequestParam("id") String id){
        ${classname}Service.removeById(id);
        return Result.success(null);
    }

}
