package ${package}.${moduleName}.service;

import com.demo.entity.Result;
import com.demo.entity.${pathName}.${className};
import com.baomidou.mybatisplus.extension.service.IService;
import org.springframework.web.bind.annotation.RequestParam;

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

    Result queryPage(Map<String, Object> param);

}

