package ${package}.${moduleName}.service;

import com.demo.entity.${pathName}.${className};
import com.baomidou.mybatisplus.extension.service.IService;
import com.baomidou.mybatisplus.core.metadata.IPage;
import org.apache.ibatis.annotations.Param;

/**
 * @author LC
 * @email dcam00r0@qq.com
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {

    Result queryPage(@RequestParam Map<String, Object> param);

}

